!!! 5
%html{ :lang => 'en' }
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{ :name => 'viewport', :content => 'initial-scale=1, maximum-scale=1, width=device-width' }
    
    %title Pure CSS Progress bar demo
    
    = stylesheet_link_tag "application.css"
    = stylesheet_link_tag "ui-progress-bar.css"
    
    = javascript_include_tag "application.js"
    
    = yield_content :head
  %body{:class => page_classes}
    #container
      = yield
    
      %footer{:style => "display: none;"}
        %p.copy
          Another #{link_to("Ivan Vanderbyl", 'http://twitter.com/IvanVanderbyl', :rel => "twipsy", :title => "Follow Ivan on Twitter")} project. Copyright &copy; 2012 Some Rights Reserved.
          